{% extends 'mainpage/base.html' %}

{% load static %}

{% block title %} Участники {% endblock %}

{% block info %}
<div class="window">
    <a class="wolf" href="about_group/test"> OPEN ME </a>
    <a class="wolf" href="about_group/developers"> ONLY DEVELOPERS PAGE!!! </a>
</div>
{% endblock %}

{% block groupmates %} 

    {% for el in people %}
        <div class="alert alert-warning mt-2">
            <h1>{{ el.name }}</h1>
            
            <p>Возраст:{{ el.age }}</p>
            <p>{{ el.bio }}</p>
            
        </div>
        
    
    {% endfor %} 
{% endblock %} 