{% load static %}

<!DOCTYPE html>
<html lang="en">
<style>
  ::-webkit-scrollbar {
    width: 10px;
}    

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: green; 
    border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #008000;
}

</style>
<head>
    <link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="text/html">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header> 
        <div class="icons">
            <a href="/"><img id="micon" src={% static "img/mainicon.png" %} width="70" height="70"></a>
            <div class="dropdown-content">
            <a id="inst" href="https://instagram.com/po1_21apec?igshid=YmMyMTA2M2Y="><img id="micon" src={% static "img/insicon.png" %} width="80" height="70"></a>
            </div>   
                
        
        </div>
           
        <div class="navbar">   
            <a href="/about_group">Участники</a>
            <a href="https://apec.edu.kz"><span class="green">APEC PetroTechnic</a>
            <a href="https://docs.google.com/spreadsheets/u/1/d/e/2PACX-1vRzEq9hgKslOH5WHXfLeDIGNndO9KKCnoDakpKaJNyKOcmi4pCosKGuAfBFkUyTXQ/pubhtml">Расписание</a>
        </div>
    </header> 
    {% block background %} {% endblock %}
    {% block info %} {% endblock %}
    {% block groupmates %} {% endblock %}
</body>
</html> 

