{% load static %}

<!DOCTYPE html>
<html lang="en">
<style>
  ::-webkit-scrollbar {
    width: 10px;
}    

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: green; 
    border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: green; 
}
</style>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="text/html">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header> 
        <a href="/"><img id="micon" src={% static "img/mainicon.png" %} width="70" height="70"></a>
        <div class="navbar">   
            <div class="icon">
                <img src={% static "img/ic1.png" %} width="30" height="30">
            </div>
            <a href="/about_group">Участники</a>
            <a href="https://apec.edu.kz">APEC PetroTechnic</a>+
            <a href="https://docs.google.com/spreadsheets/u/1/d/e/2PACX-1vRzEq9hgKslOH5WHXfLeDIGNndO9KKCnoDakpKaJNyKOcmi4pCosKGuAfBFkUyTXQ/pubhtml">Расписание</a>
        </div>
    </header> 
    <img id="page" src={% static "img/apec.png" %} width=70%>
    
</body>
</html> 

