{% extends 'mainpage/base.html' %}]


{% load static %}


{% block info %}
<div class="col-md-4 col-sm-6">
    <div class="our-team">
    <div class="team-image">
    <img src={% static "img/groupmates/zhans.jpeg" %}>
    <p class="description">
        Только брат брата волку, волкам брата родного брата - брат.
    </p>
    
    </div>
    <div class="team-info">
    <h3 class="title"></h3>
    <span class="post">Pacan po jizni</span>
    </div>
    </div>
    </div>

<div class="col-md-4 col-sm-6">
    <div class="our-team">
    <div class="team-image">
    <img src={% static "img/groupmates/bekros.jpeg" %}>
    <p class="description">
        Только брат брата волку, волкам брата родного брата - брат.
    </p>
    
    </div>
    <div class="team-info">
    <h3 class="title"></h3>
    <span class="post">Pacan po jizni</span>
    </div>
    </div>
    </div>

    
{% endblock %}