{% extends 'mainpage/base.html' %}]


{% load static %}


{% block info %}
<div class="col-md-4 col-sm-6">
    <div class="our-team">
    <div class="team-image">
    <img src={% static "img/groupmates/zhans.jpg" %}>
    <p class="description">
        Только брат брата волку, волкам брата родного брата - брат.
    </p>
    
    </div>
    <div class="team-info">
    <h3 class="title"></h3>
    <span class="post">Pacan po jizni</span>
    </div>
    </div>
    </div>

<div class="col-md-4 col-sm-6">
    <div class="our-team">
    <div class="team-image">
    <img src={% static "img/groupmates/bekros.jpg" %}>
    <p class="description">
        Родные волки брата братья волкам брата сестра
    </p>
    
    </div>
    <div class="team-info">
    <h3 class="title"></h3>
    <span class="post">Pacan po jizni</span>
    </div>
    </div>
    </div>

<div class="col-md-4 col-sm-6">
    <div class="our-team">
    <div class="team-image">
    <img src={% static "img/groupmates/sul.jpeg" %}>  
    <p class="description">
        Друзей выбираем мы сами, но лучших оставляет время.
    </p>
        
    </div>
    <div class="team-info">
    <h3 class="title"></h3>
    <span class="post">Pacan po jizni</span>
    </div>
    </div>
    </div>

<div class="aaa" style="width: 10px;">
    dddddddddddddddddddddddddddddddd
    ddddddddddddddddddddddddddddddd
    ddddddddddddddddddddddddddddddddd
    dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
    dddddddddddddddddddddddddddddddd
    ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
    dddddddddddddddddddddddddddddddd
    ddddddddddddddddddddddddddddddd
    ddddddddddddddddddddddddddddddddd
    
    
</div>
    
{% endblock %}