{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="text/html">
    <title>Главная Страница</title>
</head>

<body>
    <header> 
        <img id="micon" src={% static "img/mainicon.png" %} width="70" height="70">
        <div class="navbar">   
            <div class="icon">
                <img src={% static "img/ic1.png" %} width="30" height="30">
            </div>
            <a href="/about_group">Участники</a>
            <a href="https://apec.edu.kz">APEC PetroTechnic</a>
        </div>
    </header>
</body>
</html> 


<a href="https://www.flaticon.com/ru/free-icons/" title="пользователь иконки">Пользователь иконки от Freepik - Flaticon</a>