{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="text/html">
    <title>Главная Страница</title>
</head>

<body>
    
    <!-- Навигационная панель бырак пока что хуйня. Надо улучшить -->
    <header>
        <nav class="menu">
        <ul>
        <div class="nav">
            <a href="/about_group">Участники</a>
            <a href="/https://apec.edu.kz/">APEC PetroTechnic</a>
        </div>
        </ul>
            
        </nav>
    </header>
        

    <h1 class="zhans"> ELFOEFOEOFKWEOKF</h1>
</body>
</html> 