{% extends 'mainpage/base.html' %}

{% load static %}

{% block info %}


<div class="col-md-4 col-sm-6">
<div class="our-team">
<div class="team-image">
<img src={% static "img/groupmates/alp.jpg" %}>
<p class="description">
    Лучше быть последним — первым, чем первым — последним.
</p>
</div>
<div class="team-info">
<h3 class="title">Апощ</h3>
<span class="post">Pacan po jizni</span>
</div>
</div>
</div>









<div class="col-md-4 col-sm-6">
<div class="our-team">
<div class="team-image">
<img src={% static "img/groupmates/altyn.jpg" %}>
<p class="description">
    На случай, если буду нужен, то я там же, где и был, когда был не нужен.
</p>

</div>
<div class="team-info">
<h3 class="title">Алтуш</h3>
<span class="post">Pacan po jizni</span>
</div>
</div>
</div>








<div class="col-md-4 col-sm-6">
<div class="our-team">
<div class="team-image">
<img src={% static "img/groupmates/arai.jpeg" %}>
<p class="description">
    Если волк молчит то лучше его не перебивай.
</p>

</div>
<div class="team-info">
<h3 class="title">Арай</h3>
<span class="post">Pacan po jizni</span>
</div>
</div>
</div>








<div class="col-md-4 col-sm-6">
<div class="our-team">
<div class="team-image">
<img src={% static "img/groupmates/azalia.jpg" %}>
<p class="description">
    Каждый в цирке думает, что знает в цирке, но не каждый, что в цирке знает, что в цирке не каждый знает думает.
</p>

</div>
<div class="team-info">
<h3 class="title">Аза родик</h3>
<span class="post">Pacan po jizni</span>
</div>
</div>
</div>









<div class="col-md-4 col-sm-6">
<div class="our-team">
<div class="team-image">
<img src={% static "img/groupmates/aziza.jpeg" %}>
<p class="description">
    Легко вставать, когда ты не ложился.
</p>

</div>
<div class="team-info">
<h3 class="title">Азайза</h3>
<span class="post">Pacan po jizni</span>
</div>
</div>
</div>







<div class="col-md-4 col-sm-6">
<div class="our-team">
<div class="team-image">
<img src={% static "img/groupmates/dam.jpg" %}>
<p class="description">
    За двумя зайцами погонишься — рыбку из пруда не выловишь, делу время, а отмеришь семь раз…
</p>

</div>
<div class="team-info">
<h3 class="title">Дамир</h3>
<span class="post">Pacan po jizni</span>
</div>
</div>
</div>








<div class="col-md-4 col-sm-6">
<div class="our-team">
<div class="team-image">
<img src={% static "img/groupmates/day.jpg" %}>
<p class="description">
    Кем бы ты ни был, кем бы ты не стал, помни, где ты был и кем ты стал.
</p>

</div>
<div class="team-info">
<h3 class="title">Дауке</h3>
<span class="post">Pacan po jizni</span>
</div>
</div>
</div>





<div class="col-md-4 col-sm-6">
<div class="our-team">
<div class="team-image">
<img src={% static "img/groupmates/diana.jpeg" %}>
<p class="description">
    Иногда жизнь — это жизнь, а ты в ней иногда.
</p>

</div>
<div class="team-info">
<h3 class="title">Диана</h3>
<span class="post">Pacan po jizni</span>
</div>
</div>
</div>




<div class="col-md-4 col-sm-6">
<div class="our-team">
<div class="team-image">
<img src={% static "img/groupmates/enl.jpg" %}>
<p class="description">
    В жизни полно лжи и грязи, она не так красива. Даже твой лучший друг может не поделиться пивом…
</p>

</div>
<div class="team-info">
<h3 class="title">Енок</h3>
<span class="post">Pacan po jizni</span>
</div>
</div>
</div>




<div class="col-md-4 col-sm-6">
<div class="our-team">
<div class="team-image">
<img src={% static "img/groupmates/rasul.jpeg" %}>
<p class="description">
    Бесплатный сыр бывает только бесплатным.
</p>

</div>
<div class="team-info">
<h3 class="title">Rasul</h3>
<span class="post">Pacan po jizni</span>
</div>
</div>
</div>





<div class="col-md-4 col-sm-6">
<div class="our-team">
<div class="team-image">
<img src={% static "img/groupmates/toma.jpeg" %}>
<p class="description">
    Я не боюсь ударов в спину, гораздо страшнее, если это моя спина….
</p>

</div>
<div class="team-info">
<h3 class="title">Тома</h3>
<span class="post">Pacan po jizni</span>
</div>
</div>
</div>





<div class="col-md-4 col-sm-6">
<div class="our-team">
<div class="team-image">
<img src={% static "img/groupmates/zhardem.jpeg" %}>
<p class="description">
    Сначала потом, затем, снова опять.
</p>

</div>
<div class="team-info">
<h3 class="title">Жордим</h3>
<span class="post">Pacan po jizni</span>
</div>
</div>
</div>


<div class="col-md-4 col-sm-6">
<div class="our-team">
<div class="team-image">
<img src={% static "img/groupmates/ad.jpg" %}>
<p class="description">
    Если в дверь не постучаться, ее никогда не откроют.
</p>
    
</div>
<div class="team-info">
<h3 class="title">Жайык Бериш</h3>
<span class="post">Pacan po jizni</span>
</div>
</div>
</div>
    

<div class="col-md-4 col-sm-6">
<div class="our-team">
<div class="team-image">
<img src={% static "img/groupmates/byby.jpg" %}>
<p class="description">
    Никогда не поздно, никогда не рано — поменять все поздно, если это рано.
</p>
    
</div>
<div class="team-info">
<h3 class="title">BYBY</h3>
<span class="post">Pacan po jizni</span>
</div>
</div>
</div>
    
<div class="col-md-4 col-sm-6">
    <div class="our-team">
    <div class="team-image">
    <img src={% static "img/groupmates/ernur.jpg" %}>
    <p class="description">
       Я буду падать и падать, но когда я упаду я упаду
    </p>
        
    </div>
    <div class="team-info">
    <h3 class="title">ERA</h3>
    <span class="post">Pacan po jizni</span>
    </div>
    </div>
    </div>















<div class="col-md-4 col-sm-6">
<div class="our-team">
<div class="team-image">
<img src={% static "img/groupmates/sul.jpg" %}>
<p class="description">
    Друзей выбираем мы сами, но лучших оставляет время
</p>
</div>
<div class="team-info">
<h3 class="title">Ахи</h3>
<span class="post">Pacan po jizni</span>
</div>
</div>
</div>
        
{% endblock %}