* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url();
    width: 100%;
}

#page {
    position: relative;
    padding-top:100px;
    left: 230px;
} 


header {
    background: rgb(28, 36, 54);
    height: 80px;
    border-bottom: 1px solid black;

}


a {
    text-decoration: none;
    color: white;
    display: inline;
    font-size: 30px;
    margin: 10px;
    /* padding-left: 30px; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div.navbar { 
    position: relative;
    left: 600px;
    width: 900px;
    top: -10px;
}

div.icon {
    margin: 0;
    height: 0;
    padding-top: 10px;
    width: fit-content;
}

#micon {
    float: left;
    padding-left: 20px;
    padding-top: 7px;
}   

