* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(223, 233, 255);
    width: 100%;

}

.bord {
    position: relative;
    width: 70%;
    left:240px;
    top: 100px;
}


.testpage {
    position: relative;
    top: 100px;
}

#page {
    position: relative;
    padding-top:100px;
    left: 230px;
} 


header {
    background: rgb(28, 36, 54);
    height: 80px;
    border-bottom: 1px solid black;

}




.test {
    float: left;
    position: relative;
    width: 300px;
    height: 500px;
    left: 500px;
}

.tes {
    float: left;
    position: relative;
    width: 300px;
    height: 500px;
    left: 500px;
}

.testt {
    float: left;
    position: relative;
    width: 300px;
    height: 500px;
    left: 500px;
}
div.aaa {
    width: 10px;
    height: 40px;
}


.contacts {
    padding: 0;
    margin: 0;
    width: 10px;
    height: 10px;
    position: relative;


}

a {
    text-decoration: none;
    color: white;
    display: inline;
    font-size: 30px;
    margin: 10px;
    padding-left: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div.navbar { 
    position: relative;
    left: 600px;
    width: 900px;
    top: -20px;
    margin: 0;
}

div.icon {
    margin: 0;
    height: 0;
    padding-top: 10px;
    width: fit-content;
}

#micon {
    float: left;
    padding-left: 20px;
    padding-top: 7px;
}   

h1 {
    color:black
}

#page {
    padding-top: 0;
}






a.wolf {
color: #008000; /* Цвет обычной ссылки */ 
text-decoration: none; /* Убираем подчеркивание у ссылок */
}
a.wolf:visited {
text-decoration: none;
color: #ffffff; /* Цвет посещённой ссылки */
} 
a.wolf:hover {
color: #c7c7ff; /* Цвет ссылки при наведении на нее курсора мыши */  
text-decoration:dashed; /* Добавляем подчеркивание */
}


.green {
    color:#1fc01f;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}


/* Cтили для выдвижного МЕНЮ */

.dropbtn {
    background-color: rgb(111, 131, 179);;
    color: rgb(198, 17, 17);
    padding: 16px;
    font-size: 26px;
    border: none;
    width: 200px;
    font-family: Trattatello, fantasy ;
  }
  

  /* Контейнер <div> - необходим для размещения выпадающего содержимого */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Выпадающее содержимое (скрыто по умолчанию) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(28, 36, 54);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Ссылки внутри выпадающего списка */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Изменение цвета выпадающих ссылок при наведении курсора */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Показать выпадающее меню при наведении курсора */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}











/* Bootstrap styles */
.col-md-4 col-sm-6{
    padding-left: 0px;
    padding-right: 0px;
   }


.our-team{
    border-left: 5px solid #3b336a;
    border-bottom: 5px solid #3b336a;
   }
   

.window{
    background-color: rgb(94, 89, 123);
}
   .our-team .team-image{
    position: relative;
    text-align: center;
   }
   
   .our-team img{
    width: 100%;
    height: auto;
   }
   
   .our-team .description{
    width: 95%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px;
    color: #fff;
    line-height: 30px;
    padding: 40px 50px;
    opacity: 0;
    background-color: rgba(59, 51, 106, 0.6);
    transition: all 0.5s ease 0s;
   }
   
   .our-team:hover .description{
    opacity: 1;
   }
   

   .our-team .team-info{
    padding: 20px;
   }
   
   .our-team .title{
    font-size: 18px;
    color: #3b336a;
    letter-spacing: 4px;
    margin: 0 0 14px 0;
    transition: all 0.5s ease 0s;
   }
   
   .our-team .post{
    display: block;
    font-size: 14px;
    color: #3b336a;
    text-transform: capitalize;
   }
   
   .our-team .title:hover,
   .our-team .post:hover{
    color: #bc3fbf;
   }
   
   @media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
   }
   
   @media only screen and (max-width: 767px){
    .our-team .social{ left: -20px; }
   }
   
   @media only screen and (max-width: 480px){
    .our-team .social{ left: -20px; }
   }
