* {
    margin:0 ;
    padding:0 ;
}

header {
    background: black;
    width:98%;
    float:left;
    padding: 1%;
}




/* a {
    font-size: 30px;
    font-style: normal;
    text-decoration: none;
    color: white; 
    padding: 30px;
} */

#bg{
    background-size: 1800px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}
