* {
    margin: 0;
    padding: 0;
}

header {
    background: rgb(28, 36, 54);
    height: 80px;
    border-bottom: 1px solid black;

}

a {
    text-decoration: none;
    color: white;
    display: inline;
    font-size: 30px;
    margin: 10px;
    padding-left: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div.navbar { 
    position: relative;
    left: 800px;
    padding-top: 10px;
    /* float: right; */
}

div.icon {
    height: 0;
    padding-top: 10px;
}

#micon {
    float: left;
    padding-left: 20px;
    padding-top: 7px;
}