header {
    background: black;
    width:98%;
    float:left;
    padding: 1%;
}




/* a {
    font-size: 30px;
    font-style: normal;
    text-decoration: none;
    color: white; 
    padding: 30px;
} */
